.code-toolbar{
    max-width: 750px;
    margin: 0 auto 35px;
    overflow: auto;
    font-size: 1em;

    pre{
      border-radius: 5px !important;
      background-color: #292c34 !important;

      code{
        color: white;
      }
    }

    .toolbar-item{
      position: absolute;
      top: 1em;
      right: 1em;

      button {
        padding: 0.3em 0.5em !important;
      }
    }
}
